In [ ]:
# operations: merge, groupby, pivot using Titanic dataset
import pandas as pd

titanic = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
ports = pd.DataFrame({
    'Embarked': ['S', 'C', 'Q'],
    'Port_Name': ['Southampton', 'Cherbourg', 'Queenstown']
})

In [ ]:
print(titanic.columns)
print(ports.head())

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
  Embarked    Port_Name
0        S  Southampton
1        C    Cherbourg
2        Q   Queenstown

In [ ]:
# split and concat
first_half = titanic.iloc[:100]
second_half = titanic.iloc[100:200]
combined = pd.concat([first_half, second_half], ignore_index=True)
print(combined.shape)

(200, 12)

In [ ]:
# dropna
dropped = combined.dropna(subset=['Age'])
print(dropped[['Name', 'Age']].head())

                                                Name   Age
0                            Braund, Mr. Owen Harris  22.0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                             Heikkinen, Miss. Laina  26.0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                           Allen, Mr. William Henry  35.0

In [ ]:
# groupby
grouped = dropped.groupby('Pclass')['Fare'].mean()
print(grouped)

Pclass
1    74.818682
2    23.042822
3    15.134723
Name: Fare, dtype: float64